<div class="container-fluid">
  <!-- <p-autoComplete [(ngModel)]="autosearch" [suggestions]="results" (completeMethod)="filterCards($event)"></p-autoComplete>
  {{autosearch}} -->
  <div class="row m-2">
    <div class="col" style="margin-bottom:2px;"  *ngFor='let card of cards;let i = index' >
      <div class="card">
        <img class="card-img-top" src={{card.image}} alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{i}} {{card.title}}</h6>
          <p class="card-text">{{card.description}}</p>
          <a class="btn btn-primary">Add to cart</a>
          <!-- <a class="btn btn-success" style="margin-left:20px;">Edit</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- http://www.json-generator.com/api/json/get/bOXQqgyxSG?indent=2 -->