
<app-header *ngIf="isValid"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/server"  routerLinkActive="active">Server</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['user']"  routerLinkActive="active">User</a>

            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['serverInteraction']"  routerLinkActive="active">Server Interaction</a>

            </li>
          </ul>
          <!-- <a  routerLink="/home" routerLinkActive="active">Home</a>
          <a [routerLink]="['user', 1]">User 1</a>
          <a [routerLink]="['user', 2]">User 2</a> -->
    </div>
  </div>
  <div class="row">
      <router-outlet></router-outlet>   
      <!-- <app-dashboard></app-dashboard> -->
  </div>
</div>
<app-footer></app-footer>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Servers</a></li>
        <li role="presentation"><a href="#">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-server></app-servers>
    </div>
  </div>
</div> -->
