<br>
<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" #serverName>
  
      <button class="btn btn-primary ml-1" (click)="addOnServer(serverName.value)">Add server</button>
      <br>
      <br>
      <button class="btn btn-primary"(click)="onSave()">Save Servers</button>
      <button class="btn btn-primary"(click)="onGet()">Get Servers</button>
      <hr>

      <ul class="list-group" *ngFor="let serve of servers" >
        <li class="list-group-item">{{ serve.name }} (ID: {{ serve.id }})</li>
      </ul>
    </div>
  </div>
</div>